## Data Analytics I
Create a Linear Regression Model using Python/R to predict home prices using Boston Housing
Dataset (https://www.kaggle.com/c/boston-housing). The Boston Housing dataset contains
information about various houses in Boston through different parameters. There are 506 samples
and 14 feature variables in this dataset.
The objective is to predict the value of prices of the house using the given features.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets

In [2]:
df = pd.read_csv('HousingData.csv')

In [3]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [5]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [6]:
df.keys()

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [7]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [8]:
df['CRIM'].fillna(df['CRIM'].mean(),inplace=True)
df['ZN'].fillna(df['ZN'].mean(),inplace=True)
df['INDUS'].fillna(df['INDUS'].mean(),inplace=True)
df['CHAS'].fillna(df['CHAS'].mean(),inplace=True)
df['AGE'].fillna(df['AGE'].mean(),inplace=True)
df['LSTAT'].fillna(df['LSTAT'].mean(),inplace=True)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X = df.iloc[:,0:13]
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.200000,4.0900,1,296,15.3,396.90,4.980000
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.900000,4.9671,2,242,17.8,396.90,9.140000
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.100000,4.9671,2,242,17.8,392.83,4.030000
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.800000,6.0622,3,222,18.7,394.63,2.940000
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.200000,6.0622,3,222,18.7,396.90,12.715432
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.100000,2.4786,1,273,21.0,391.99,12.715432
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.700000,2.2875,1,273,21.0,396.90,9.080000
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.000000,2.1675,1,273,21.0,396.90,5.640000
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.300000,2.3889,1,273,21.0,393.45,6.480000
505,0.04741,0.0,11.93,0.0,0.573,6.030,68.518519,2.5050,1,273,21.0,396.90,7.880000

In [11]:
y = df.iloc[:,-1]
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [12]:
# X_train, X_test, y_train, y_test = train_test_split(
# ...     X, y, test_size=0.33, random_state=42)

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state = 20)

In [13]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
7,0.14455,12.500000,7.87,0.000000,0.524,6.172,96.100000,5.9505,5,311,15.2,396.90,19.150000
268,0.54050,20.000000,3.97,0.000000,0.575,7.470,52.600000,2.8720,5,264,13.0,390.30,3.160000
80,0.04113,25.000000,4.86,0.000000,0.426,6.727,33.500000,5.4007,4,281,19.0,396.90,5.290000
30,1.13081,0.000000,8.14,0.000000,0.538,5.713,94.100000,4.2330,4,307,21.0,360.17,22.600000
450,6.71772,0.000000,18.10,0.069959,0.713,6.749,92.600000,2.3236,24,666,20.2,0.32,17.440000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,18.81100,0.000000,18.10,0.000000,0.597,4.628,100.000000,1.5539,24,666,20.2,28.79,34.370000
223,0.61470,0.000000,6.20,0.000000,0.507,6.618,80.800000,3.2721,8,307,17.4,396.90,7.600000
271,0.16211,20.000000,6.96,0.000000,0.464,6.240,16.300000,4.4290,3,223,18.6,396.90,12.715432
474,8.05579,0.000000,18.10,0.000000,0.584,5.427,95.400000,2.4298,24,666,20.2,352.58,18.140000
355,0.10659,11.211934,1.91,0.000000,0.413,5.936,68.518519,10.5857,4,334,22.0,376.04,5.570000

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model = lr.fit(x_train, y_train)

In [15]:
y_pred = model.predict(x_test)

In [16]:
 for i, j in zip(y_test, y_pred):
    print(i,"  ", j)

21.2    21.268392513467774
20.6    26.993043557763727
21.5    19.805507879815604
21.7    24.558867639930895
13.4    12.955139233457217
20.4    20.007340519469473
20.0    18.161464595348797
5.0    7.315351613615029
14.5    18.761472701977038
24.0    25.138769716415904
36.2    27.65564593531179
23.1    16.675144326183393
23.0    23.963828135424055
21.0    21.585888968573617
19.5    20.315669032410746
24.7    25.20548579352954
32.2    31.522649456302844
14.6    19.090509314905624
14.3    14.355863897662829
17.5    17.486835597442393
37.6    32.850089313063684
50.0    42.46174508421991
22.6    27.40511853288353
30.3    32.67655886446136
23.3    26.97362912020617
22.1    26.766801291396312
18.2    20.125495209289817
23.1    25.18435432651077
21.0    21.491743209748716
21.9    24.59707661932507
27.5    20.81517096493789
19.9    17.354186858058707
20.3    22.19481821001884
7.2    9.928626958549941
29.4    30.511108615424185
18.6    20.48890254919555
50.0    42.70977287609262
22.2    22.475021508781737
18.5    19.587727227387617
34.7    31.138328628932637
11.9    7.781218632765437
23.2    16.669860216609543
10.4    17.39355117733501
13.1    12.840236233693574
25.0    23.019906701698797
28.7    28.304869815663317
18.7    21.60767119292062
23.1    20.76407119730593
9.7    9.431606594925078
7.5    13.384251289378959
46.7    30.687518838534572
34.6    34.713163232222875
10.8    11.229564182862848
44.0    37.196382560563286
15.0    19.47051427373878
20.2    21.930766276765134
20.3    19.986398957841345
16.8    20.06433994196952
17.8    19.829525312204034
23.1    22.93085760883103
23.7    27.038910804722285
19.6    19.849562258664726
22.2    19.724796883975877
18.9    22.361222680600363
19.4    17.753913371044042
16.6    18.80939669065447
22.0    27.737514465852954
15.0    25.86710911137163
19.9    18.155633580611095
15.4    17.673586659470935
37.9    34.10401291795691
17.5    17.71799316790357
24.1    26.187218855284236
20.4    23.144054250602366
18.3    20.44295778557945
23.9    25.21816105538042
22.4    22.24386771289545
22.0    27.835446582717204
22.9    28.175946258535536
20.8    17.25395925884395
17.8    8.735546160064281
13.5    14.469570147156666
16.5    23.053350058222996
14.6    7.483152161159332
23.9    28.024486139333824
29.6    24.833636058539483
20.1    23.752532070759973
20.8    18.32444602594068
22.8    24.899354808656696
22.3    26.61542702273934
20.0    23.644682819439552
29.8    24.646706666311836
18.2    18.765078011727198
12.8    12.481680784377524
11.9    22.511128929737133
23.9    27.501717571481905
18.5    19.84927081013586
18.9    19.53039969866934
13.0    16.86184721013698
22.6    18.278645557160637
19.5    17.643913976120245
23.8    25.80110816531142

In [17]:
from sklearn.metrics import mean_squared_error,accuracy_score
mse = mean_squared_error(y_test, y_pred)

In [18]:
mse

17.49004909694823

In [19]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state = 20)

In [20]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
388,14.33370,0.000000,18.10,0.069959,0.700,4.880,100.000000,1.5895,24,666,20.2,372.92,30.620000
424,8.79212,0.000000,18.10,0.000000,0.584,5.565,70.600000,2.0635,24,666,20.2,3.65,17.160000
45,0.17142,0.000000,6.91,0.000000,0.448,5.682,33.800000,5.1004,3,233,17.9,396.90,10.210000
470,4.34879,0.000000,18.10,0.000000,0.580,6.167,84.000000,3.0334,24,666,20.2,396.90,16.290000
28,0.77299,0.000000,8.14,0.000000,0.538,6.495,94.400000,4.4547,4,307,21.0,387.94,12.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,18.81100,0.000000,18.10,0.000000,0.597,4.628,100.000000,1.5539,24,666,20.2,28.79,34.370000
223,0.61470,0.000000,6.20,0.000000,0.507,6.618,80.800000,3.2721,8,307,17.4,396.90,7.600000
271,0.16211,20.000000,6.96,0.000000,0.464,6.240,16.300000,4.4290,3,223,18.6,396.90,12.715432
474,8.05579,0.000000,18.10,0.000000,0.584,5.427,95.400000,2.4298,24,666,20.2,352.58,18.140000
355,0.10659,11.211934,1.91,0.000000,0.413,5.936,68.518519,10.5857,4,334,22.0,376.04,5.570000

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
lr = LinearRegression()

In [23]:
lr.fit(x_train,y_train)

LinearRegression()

In [24]:
y_pred = lr.predict(x_test)

In [25]:
from sklearn.metrics import mean_squared_error,mean_absolute_error, r2_score
mse = mean_squared_error(y_pred,y_test)
rmse=np.sqrt(mse)
msa = mean_absolute_error(y_pred,y_test)
r2 = r2_score(y_pred,y_test)

In [26]:
mse

26.82513703251621

In [27]:
msa

3.4891412466083067

In [28]:
rmse

5.179298893915682

In [29]:
r2

0.4450892770217184